@model IEnumerable<TPWEB_Residual.Models.Veiculo>

@{
    ViewBag.Title = "Index";
}
<br />
@*<h2>Lista</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoVeiculo)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.UtilizadorId)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegisto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoVeiculo)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UtilizadorId)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VeiculoId }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.VeiculoId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.VeiculoId })
            </td>
        </tr>
    }

</table>
