@model TPWEB_Residual.Models.Recolha

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recolha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRecolha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRecolha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoraRecolha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoraRecolha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataRegisto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MateriaisReciclaveis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MateriaisReciclaveis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MateriaisPoluentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MateriaisPoluentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UtilizadorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UtilizadorId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecolhaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
