@model IEnumerable<TPWEB_Residual.Models.Recolha>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRecolha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraRecolha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataRegisto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MateriaisReciclaveis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MateriaisPoluentes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilizadorId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Morada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRecolha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraRecolha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataRegisto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MateriaisReciclaveis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MateriaisPoluentes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilizadorId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RecolhaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RecolhaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RecolhaId })
        </td>
    </tr>
}

</table>
